
/TempSensorApp/tests/unit-tests/obj
/TempSensorApp/obj/Debug
/TempSensorApp/obj
/TempSensorApp/obj
/unit-testing/obj
/unit-testing/bin
/TempSensorApp/bin
D202-Assignment-3.sln
/TempSensorApp/obj
/TempSensorApp/obj
/unit-testing/obj
/TempSensorApp/obj
